html {
    overflow: hidden;
}

.rob {
    background-image: url("https://static-cdn.jtvnw.net/emoticons/v1/715264/3.0");
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}